ul {
    position: fixed;
    top: -1.5%;
    left: -0.5%;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0);
}

li {
    display: inline;
    float: left;
    border-right: 0px solid rgba(0, 0, 0);
} 

li:last-child {
    border-right: none;
    background-color: black;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  background-color: black;
  text-align: center;
  padding: 14px 16px;
  top: 1%;
  text-decoration: none;
}

a {
    display: block;
    padding: 8px;
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: 900;
    font-family: sans-serif;
}

li a:hover {
  background-color: #717171;
}

.active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

body{
    background-color: rgb(255, 255, 255);
}
